<launch>
  <!-- Arguments -->
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find tutorial_pkg)/maps/map2.yaml"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!--  Launch turtle bot world  -->
  <!--<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch"/>-->
  
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  
  <!--<node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>-->
  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>

  <!--<node pkg="tutorial_pkg" name="goal" type="movebase_client_py"/>-->

</launch>
